.ContenedorTop {
    padding: 5px;
    font-size: 15px;
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin: 5px auto;
}

.title {
    margin-top: 30px;
    padding: 15px;
    position: relative;
    width: 85%;
    margin: 20px auto;
}

.Posicion {
    border-radius: 100%;
    background-color: #64072D;
    color: white;
    width: 30px;
    height: 30px;
    align-items: center;
    display: flex;
    margin-right: 5px;
    justify-content: center;
}

.cerrar {
    position: absolute;
    top: 5px;
    right: 5px;
    display: inline-block;
    text-align: center;
}

.link {
    text-decoration: none;
    font-family: "BBAlpha Sans", "Prelude Medium", "S60 Sans", Tahoma, Verdana, Arial, "Sans-Serif";
    font-size: 20px;
    color: #64072D;
    cursor: pointer;
}

.Nombre {
    text-align: left;
    width: 60%;
}

.Creditos {
    text-align: right;
    width: 30%;
    font-weight: bold;
}
