.field{
    text-align:center;
}

.title {
    margin-top: 30px;
    padding: 15px;
    position: relative;
    width: 85%;
    margin: 20px auto;
}

.cerrar {
    position: absolute;
    top: 5px;
    right: 5px;
    display: inline-block;
    text-align: center;
}

.link {
    text-decoration: none;
    font-family: "BBAlpha Sans", "Prelude Medium", "S60 Sans", Tahoma, Verdana, Arial, "Sans-Serif";
    font-size: 20px;
    color: #64072D;
    cursor: pointer;
}

.lblOrganizacion {
    color: darkred;
    font-family: "BBAlpha Sans", "Prelude Medium", "S60 Sans", Tahoma, Verdana, Arial, "Sans-Serif";
    font-size: 27px;
    font-weight: bold;
}


.imgbtn{
    width:30px;
    height:25px;
    border:none;
}

.container {
    margin:30px 25px 0px 25px;
}

.imgImagen{
    width:300px;
    height:250px;
}

.img{
    float:left;
}

.text{
    background-color:lightgrey;
    padding:25px 30px 25px 25px;
    float:right;
    text-align:left;
    border-radius:20px;
    width:50%;
}

.lblDescripcion {
    font-family: "BBAlpha Sans", "Prelude Medium", "S60 Sans", Tahoma, Verdana, Arial, "Sans-Serif";
    font-size: 16px;
}

