<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ISWADNETReciclado" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="TcpBinding" maxBufferSize="1265536" maxConnections="500"
          maxReceivedMessageSize="1265536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="1265536"
            maxBytesPerRead="4096" maxNameTableCharCount="1265536" />
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service name="SWLNReciclado.SWLNReciclado">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="TcpBinding"
        contract="SWLNReciclado.ISWLNReciclado" />
      </service>
    </services>
    <client>
      <endpoint address="http://localhost:61264/SWADNETReciclado.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISWADNETReciclado"
        contract="SWADNETRecicladoReference.ISWADNETReciclado" name="BasicHttpBinding_ISWADNETReciclado" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <dataContractSerializer maxItemsInObjectGraph="1265536"/>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceThrottling maxConcurrentCalls="500" maxConcurrentSessions="500"
         maxConcurrentInstances="500" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        Para examinar el directorio raíz de la aplicación web durante la depuración, establezca el valor siguiente en true.
        Establézcalo en false antes de la implementación para evitar revelar información sobre la carpeta de aplicación web.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>